#contain wandb keys
run_BERT_training.sh

#visualizations
visualizations

#model weights
*.pt
*.pth
#caches
tests/__pycache__
__pycache__
.pytest_cache
.vscode
#dummy/draft files
*draft*
*dummy*

#output files of hydra
outputs
multirun

#package setup info
*.egg-info

#wandb
wandb